.hero-sec{
    background-image:url("../../../../Assets/img/gif-h.gif") ;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    
}
.hero-img{

}
.logo{
    height: 50px;
}
.icon{
    height: 30px;   
}
